Advanced XML/XML Validation/books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://library.by/catalog" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ts="http://library.by/catalog">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="book">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="isbn" type="ts:isbn_type" />
              <xs:element name="author" type="xs:string" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="genre" type="ts:genre_type" />
              <xs:element name="publisher" type="xs:string" />
              <xs:element name="publish_date" type="xs:date" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="registration_date" type="xs:date" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="unique_id">
      <xs:selector xpath="ts:book"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>
  
  <xs:simpleType name="genre_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Computer"/>
      <xs:enumeration value="Fantasy"/>
      <xs:enumeration value="Romance"/>
      <xs:enumeration value="Horror"/>
      <xs:enumeration value="Science Fiction"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="isbn_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="^(?:ISBN(?:-1[03])?:? )?(?=[0-9X]{10}$|(?=(?:[0-9]+[- ]){3})[- 0-9X]{13}$|97[89][0-9]{10}$|(?=(?:[0-9]+[- ]){4})[- 0-9]{17}$)(?:97[89][- ]?)?[0-9]{1,5}[- ]?[0-9]+[- ]?[0-9]+[- ]?[0-9X]$"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>